Google_Calendar_tool.json
{
  "name": "Google Calendar tool",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "=You are a smart assistant specialized in managing a personal calendar using Google Calendar as the source of truth. Your role is to analyze the user's messages and decide what to do.\nThe date and time are: {{ $now }}\nAlways treat all dates and times using the \"Europe/Madrid\" timezone.\n\nYou have access to the following tools:\n- Create: Schedule appointments or personal notes.\n- Get: Retrieve details of a specific event.\n- Get All: Search events within a time range.\n- Modify: Update or reschedule an existing event.\n- Delete: Cancel appointments or personal notes.\n- ModifyAlert: Change the alert (notification) time of an existing event.\n\nYou can:\n1. Schedule appointments.\n2. Create personal notes (for the user).\n3. Answer questions about the calendar (e.g., upcoming events, availability, number of appointments).\n\nGENERAL RULES:\n- Appointments can only be scheduled between 08:00 and 23:59 (local time).\n- There must be at least 15 minutes of free time before and after the appointment.\n- Personal notes can be set at any time of the day.\n- Alerts (notifications) for events if is not provided by the user set to 15 min before the event.\n\nPROCESS FOR APPOINTMENT REQUESTS:\n1. Extract the requested date, time, and duration (default to 30 min if not specified).\n2. Use the Get All tool to check if the requested slot is available and meets the buffer rule.\n3. If the slot is available:\n   - Use the Create tool to schedule the appointment.\n   - Respond in this format:\n     ✅ Appointment booked:\n     Title: [TITLE]\n     Date: [DATE]\n     Time: [TIME]\n4. If the slot is not available or invalid:\n   - Respond with the reason (e.g., conflict or outside of working hours).\n   - Propose the next 2 available slots that meet the criteria.\n\nPROCESS FOR PERSONAL NOTES:\n1. Extract title, date, and time.\n2. Use the Create tool to create a calendar event with a notification 30 minutes before.\n3. Respond in this format:\n   ✅ Personal Note created:\n   Title: [TITLE]\n   Date: [DATE]\n   Time: [TIME]\n\nPROCESS FOR CHANGING ALERTS:\n1. Extract the event ID and the new alert time.\n2. Use the ModifyAlert tool to update the reminder time of the existing event.\n3. Respond in this format:\n   ✅ Alert updated:\n   Event: [TITLE]\n   New Alert Time: [TIME]\n\nPROCESS FOR CALENDAR QUESTIONS:\n1. Use the Get All tool to fetch events based on the time range (e.g., today, this week, a specific date).\n2. Summarize the events clearly and concisely.\n   - Example questions:\n     • What do I have tomorrow?\n     • How many appointments this week?\n     • Am I free Tuesday afternoon?\n\nOTHER CONSIDERATIONS:\n- If the message is unclear or incomplete, ask for clarification before taking action.\n- Default duration for appointments is 30 minutes if not specified.\n- Always be polite, helpful, and accurate.\n- You do not have memory: always use the tools to access or update the calendar.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -280,
        -160
      ],
      "id": "9a9fd897-65a5-4798-bcec-51e5a59a4bb3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -440,
        180
      ],
      "id": "86234fc7-ad1c-49f1-9206-20646cfcd549",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nUN4q3uXxeO0qNxA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Google Calendar - Create\tAgendar citas y recordatorios\nGoogle Calendar - Get\tLeer detalles de una cita específica\nGoogle Calendar - Get All\tBuscar eventos por rango de fechas\nGoogle Calendar - Update\tMover o modificar una cita existente\nGoogle Calendar - Delete\tCancelar citas o recordatorios",
        "height": 660,
        "width": 1340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -940,
        -240
      ],
      "id": "cebc7fe0-e059-472d-8719-a43dcb04a1c9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "infoabelrodriguez@gmail.com",
          "mode": "list",
          "cachedResultName": "infoabelrodriguez@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -60,
        180
      ],
      "id": "72d1879a-e860-4c1e-b4f1-835906811be5",
      "name": "Modify",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rCB97xTH8sbsV2ov",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "infoabelrodriguez@gmail.com",
          "mode": "list",
          "cachedResultName": "infoabelrodriguez@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        40,
        180
      ],
      "id": "7f384ede-b2b7-4fc8-b7fe-057381e40a3c",
      "name": "Get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rCB97xTH8sbsV2ov",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "infoabelrodriguez@gmail.com",
          "mode": "list",
          "cachedResultName": "infoabelrodriguez@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        140,
        180
      ],
      "id": "ad8eff7a-ba15-40fb-bc9d-4fad40c0a84f",
      "name": "Delete",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rCB97xTH8sbsV2ov",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "infoabelrodriguez@gmail.com",
          "mode": "list",
          "cachedResultName": "infoabelrodriguez@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        180
      ],
      "id": "47f4dd10-e20d-4ca0-aed9-41b2165a7820",
      "name": "Get All",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rCB97xTH8sbsV2ov",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "infoabelrodriguez@gmail.com",
          "mode": "list",
          "cachedResultName": "infoabelrodriguez@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "color": "={{ $fromAI('Tipo') === 'Cita' ? '1' : '2' }}",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -160,
        180
      ],
      "id": "0f2845a8-ad1e-4861-b5bb-646f5b7978b6",
      "name": "calendar create",
      "notesInFlow": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rCB97xTH8sbsV2ov",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -760,
        220
      ],
      "id": "0e0d6670-dc33-4dc8-aec6-50e5c7390b34",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "Tool to modify reminders of Google Calendar Events:\nshould be provided of method and minutes\n\n",
        "method": "PATCH",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events/{eventId}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"reminders\": {\n    \"useDefault\": false,\n    \"overrides\": [\n      {\n        \"method\": \"{method}\",\n        \"minutes\": {minutes}\n      }\n    ]\n  }\n}\n",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "eventId",
              "description": "The ID of the event ",
              "type": "string"
            },
            {
              "name": "method",
              "description": "Notification method (popup, email)",
              "type": "string"
            },
            {
              "name": "minutes",
              "description": "Minutes before the event",
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -300,
        180
      ],
      "id": "5d0b3fbf-b995-4d0b-857b-61dbfe1d0dbd",
      "name": "ModifyAlert",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rCB97xTH8sbsV2ov",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        -160
      ],
      "id": "e879a0db-4d7a-4b6e-a839-e3161f57921f",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Modify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get All": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendar create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        []
      ]
    },
    "ModifyAlert": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b19b1842-b636-4c4e-b776-49f5bd8e101c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0fd7a3ae1e5cb67302059089dbefe8ab1b69ab5eddbc319042d4c136f4f12b0c"
  },
  "id": "e0jqmdTfAzTDgFY8",
  "tags": [
    {
      "createdAt": "2025-03-30T16:54:35.009Z",
      "updatedAt": "2025-03-30T16:54:35.009Z",
      "id": "yRUhXLiKlJJ77ppQ",
      "name": "attenbot"
    }
  ]
}